.content-container {
    /* align-items: center;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 60px);
    justify-content: center; */
    padding: 20px;
}

.add-task-container {
    background-color: #ebebeb;
    border-radius: 7px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    margin-right: 20px;
    padding: 10px;
}

.back-button {
    color: #ebebeb;
    font-size: 20px;
    font-weight: bold;
}