.edit-modal-container {
    align-items: center;
    bottom: 0;
    display: flex;
    justify-content: center;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.edit-modal-background-container {
    background-color: rgba(0,0,0,0.75);
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.edit-modal-content-container {
    background-color: white;
    border-radius: 7px;
    padding: 20px;
    width: 300px;
    z-index: 1;
}

.edit-modal-title-container {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.edit-modal-title {
    color: #243754;
}

.edit-modal-close-button {
    color: crimson;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    font-weight: bolder;
}

.input {
    border: 2px solid lightgray;
    border-radius: 7px;
    font-size: 14px;
    line-height: 30px;
    margin-top: 20px;
    padding: 10px;
    width: calc(100% - 20px);
}

.edit-submit-button {
    align-self: flex-end;
    background-color: #243754;
    border-radius: 7px;
    float: right;
    margin-top: 20px;
    padding: 10px;
}

.edit-submit-button-text {
    color: #ebebeb;
    font-weight: bold;
    font-size: 14px;
}