:root {
  --body-color: lightgray;
}

body {
  background-color: var(--body-color);
  margin: 0;
}

a {
  margin: 0;
  text-decoration: none;
}

a:hover {
  opacity: 0.6;
}

a:active {
  opacity: 0.4;
}

h2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
}

h3 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
}

input {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
}